<div class="container">
  <div class="row">
    <div class="background-color">

    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <div class="about-background-image">
          <div class="intro">新しい世界へ<br />飛び込む</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <div class="box1">
          <strong><h1>Guild</h1></strong>
          <h3>今の仕事このまま続けていくべきなのか・・・<br />
          でもこれから先何をしたいのか自分でも分からない・・・<br />
          この職に付きたいけど何から始めればいいのか分からない・・・<br />
          ぼんやりした悩みを抱えている人はこの日本中たくさん居ると思います<br />
          <strong>Guildはなりたい職業を見つけるSNSです<strong></h3>
          <br /><h6>ギルドの由来ギルドは、中世より近世にかけて西欧諸都市において商工業者の間で結成された各種の職業別組合<br />
          商人ギルド・手工業ギルド（同職ギルド）などに区分される。（Wikipediaより引用）</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <h1>Guildでできること</h1>
      </div>      
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-6 text-center">
        <div class="box2">
          <h1>声の投稿機能</h1>
          <h2>この業界に行きたい等の思いを投稿しましょう</h2>
          <h2>その声があなたが新しい世界に飛び込むきっかけを作るかもしれません</h2>
        </div>      
      </div>
      <div class="col-xs-12 col-lg-6 text-center">
        <div class="box3">
          <h1>業種検索機能</h1>
          <h2>漁業や林業などの業種で検索をかける事ができるので</h2>
          <h2>同じ業界にいるユーザーを見つける事ができます</h2>
        </div>      
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-6 text-center">
        <div class="box4">
          <h1>コメント・グッジョブ機能</h1>
          <h2>有益な情報にコメントやグッジョブを送る事ができます</h2>
        </div>      
      </div>
        <div class="col-xs-12 col-lg-6 text-center">
          <div class="box5">
            <h1>ランキング機能</h1>
            <h2>グッジョブ数の多い記事をすぐに見つける事ができます</h2>
          </div>      
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <div class="box6">
          <h1>無料会員登録</h1>
          <h2>１分の登録ですぐに使用できます</h2>
          <p><%=link_to "新規登録", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p><br />
        </div>      
      </div>
    </div>

    </div>
  </div>
</div>

