<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <body class="top-background-image">
        <div class="row">
          <h1 class="Guild"><strong>Guild</strong></h1>
          <p><%=link_to "ログイン", new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
          <p><%=link_to "新規登録", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
        </div>
      </body>
    </div>
  </div>
</div>  

